{% load static %}

<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static "css/home.css" %}" />

  <style>
    @font-face {
        font-family: "score";
        src: url({% static 'fonts/CollegiateInsideFLF.ttf' %}) format("truetype");
    }
    @font-face {
        font-family: "score outline";
        src: url({% static 'fonts/CollegiateOutlineFLF.ttf' %}) format("truetype");
    }
    .score_font { font-family: "score", sans-serif; }
    .subscore_font { font-family: "score outline", sans-serif; }
  </style>
</head>
<body>

<div class="main_background"></div>
<div class="content row">

  {% for i in team_range %}
    {% if i == 0 and n == 3 %}
      <div class="col-3"></div>
    {% endif %}
    <div class="p-4 col-6">

      <div class="row">
        <div class="col-2"></div>

        <div class="score_card card col-8">
          <div class="card-body text-center">
            <div class="score score_font" id="score_{{ i }}">0</div>
            <div class="subscore subscore_font" id="sub_score_{{ i }}">0</div>
          </div>
        </div>

      </div>

    </div>
  {% endfor %}


</div>
<div id="transition_panel"></div>

</body>
<script>
const n_teams = {{ n }}

function load_teams() {
  fetch("/api/team").then(response => {
    if (response.ok) { return response.json() }
  }).then(data => {
      for ( i = 0 ; i < n_teams ; i++ ) {
          load_on_team(data[i], i)
      }
  })
}

function load_on_team (team, i) {
    score = document.getElementById("score_" + i)
    score.innerText = team.score

    subscore = document.getElementById("sub_score_" + i)
    subscore.innerText = team.sub_score

    score.style = "color: " + team.color + ";"
    subscore.style = "color: " + team.color + ";"
}

(() => {
  load_teams()
  setInterval(load_teams, 2000)
})()
</script>
</html>